// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

// Code Starts Here

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

// Variables

@main-font: 'Oswald', sans-serif;

// Headings/Fonts

h1, h2, h3, h4, h5, p, address, ul, nav{
	font-family: @main-font;
}

h3{
	font-size: 30px;
	letter-spacing: 2px;
	margin-bottom: 8%;
	text-transform: uppercase;
}

h4{
	font-size: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h5{
	font-size: 20px;
	letter-spacing: 2px;
	margin-bottom: 2%;
	color: #808080;
	text-transform: uppercase;
}

nav{
	text-transform: uppercase;
}

ul{
	margin-bottom: 4%;
}

p, address, ul, nav{
	letter-spacing: 2px;
}



// Mixins

.space-between-centered(){
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.column-flex-start-centered(){
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.column-flex-start(){
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

// .column-space-around(){
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: space-around;
// }

html, body{
	height: 200vh;
	// border: solid red 1px;
}

body{
	margin-left: 5%;
	margin-right: 5%;
}

.content{
	display: flex;
	height: 100%;

	.left-section{
		width: 45%;
		.column-flex-start-centered();

		.title{
			height: 30%;
			width: 70%;
			margin-bottom: 10%;
			color: white;
			background-color: black;

			h1{
				padding-top: 35%;
				padding-bottom: 5%;
				padding-left: 15%;
				font-size: 50px;
				line-height: 1.2;
				letter-spacing: 8px;
				text-transform: uppercase;
			}

			h2{
				padding-left: 15%;
				font-size: 35px;
				line-height: 1.5;
				letter-spacing: 8px;
				color: #808080;
			}
		}//this closes the title

		#left-info{
			height: 70%;
			width: 70%;
			.column-flex-start-centered();
	
			.contact{
				height: 15%;
				width: 80%;
				margin-bottom: 20%;
				line-height: 2;
			}
						
			.profile{
				height: 30%;
				width: 80%;
				margin-bottom: 20%;
				line-height: 1.5;
			}
						
			.skills{
				height: 30%;
				width: 80%;
				line-height: 1.5;
			}
		}//this closes left-info
	}//this closes left-section

	.right-section{
		width: 55%;
		.column-flex-start();

		header{
			height: 10vh;

				nav{
					height: 10vh;
					.space-between-centered();
			
					a{
						text-decoration: none;
						padding-left: 5%;
						padding-right: 5%;
						color: black;
					}//this closes the links in the nav
				}//this closes the nav
			}//this closes the header

		.experience{
			height: 30%;
			width: 90%;
			margin-top: 20%;
			margin-bottom: 20%;
			padding-left: 5%;
			line-height: 1.5;
		}
		
		.education{
			height: 30%;
			width: 90%;
			padding-left: 5%;
			line-height: 1.5;
		}
	}//this closes right-section	
}//this closes content